*.iml
.gradle
.kotlin
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Python virtual environment files
/models/**/bin
/models/**/include
/models/**/lib
/models/**/share
/models/**/pyenv.cfg
/models/translation/**/*
