[submodule "app/native/jni/third_party/espeak-ng"]
	path = app/native/jni/third_party/espeak-ng
	url = https://github.com/espeak-ng/espeak-ng.git
	branch = tags/1.52.0
[submodule "app/native/jni/third_party/cld2"]
	path = app/native/jni/third_party/cld2
	url = https://github.com/CLD2Owners/cld2.git
[submodule "app/native/jni/third_party/open-jtalk"]
	path = app/native/jni/third_party/open-jtalk
	url = https://github.com/r9y9/open_jtalk.git
[submodule "app/native/jni/third_party/neon-sse"]
	path = app/native/jni/third_party/neon-sse
	url = https://github.com/intel/ARM_NEON_2_x86_SSE.git
[submodule "app/native/jni/third_party/leanmt"]
	path = app/native/jni/third_party/leanmt
	url = https://github.com/FricoRico/Versta.Leanmt.git
[submodule "app/native/jni/third_party/whisper.cpp"]
	path = app/native/jni/third_party/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp.git
[submodule "app/native/jni/third_party/MNN"]
	path = app/native/jni/third_party/mnn
	url = https://github.com/alibaba/MNN.git
