[submodule "app/native/jni/src/sentencepiece"]
	path = app/native/jni/third_party/sentencepiece
	url = https://github.com/google/sentencepiece.git
	branch = tags/v0.2.0
[submodule "app/native/jni/third_party/espeak-ng"]
	path = app/native/jni/third_party/espeak-ng
	url = https://github.com/espeak-ng/espeak-ng.git
	branch = tags/1.52.0
[submodule "app/native/jni/third_party/cld2"]
	path = app/native/jni/third_party/cld2
	url = https://github.com/CLD2Owners/cld2.git
[submodule "app/native/jni/third_party/open-jtalk"]
	path = app/native/jni/third_party/open-jtalk
	url = https://github.com/r9y9/open_jtalk.git
