<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.versta.translate">

    <uses-sdk tools:overrideLibrary="
          androidx.camera.camera2, androidx.camera.core,
          androidx.camera.view, androidx.camera.lifecycle,
          com.google.mlkit.vision.segmentation.subject" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:node="remove" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:launchMode="singleTask"
        android:theme="@style/Versta.Theme"
        tools:targetApi="35">
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Versta.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BubbleActivity"
            android:exported="true"
            android:largeHeap="true"
            android:theme="@style/Versta.Theme" />

        <activity
            android:name=".adapter.inbound.TranslateNotificationActivity"
            android:exported="true"
            android:label="Translate"
            android:theme="@style/Versta.Invisible">
            <intent-filter>
                <data android:mimeType="text/plain" />

                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>